*{
    margin: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav-bar{
    height: 55px;
    background-color: #563d7c;
}
.logo{
    padding: 4px 7px;
    float: left;
}
.nav-link{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
ul{
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
li{
    float: left;
}
li a{
    padding: 17px;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
}
img{
    float: right;
    padding: 15px 5px;
}
.btn{
    background-color: transparent;
    color: rgb(213, 209, 119);
    padding: 7px 11px;
    margin: 8px 15px;
    float: right;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    border-width: 1px;
    border-radius: 3px;
    border: 2px solid #cdb382;
}
.box-1{
    background-color: white;
    width: 350px;
    height: 370px;
    margin: 60px;
}
h1{
    color: #7952b3;
    font-size: 40px;
    margin: 0px 5px;
}
.text-1{
    color:#767976;
    margin: 10px 1px;
}
.text-2{
    color: #767976;
    margin: 15px 1px;
}